.App {
  background-image: url("https://eu-assets.simpleview-europe.com/manchester2016/imageresizer/?image=%2Fdmsimgs%2F202205_art_exhibition_for_Visit_Oldham_574189278.jpg&action=ProductDetail");
  background-repeat: no-repeat;
  background-size: cover;
}
